In [10]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
    {
        "key1": ["a", "a", None, "b", "b", "a", None],
        "key2": pd.Series([1, 2, 1, 2, 1, None, 1], dtype="Int64"),
        "data1": np.random.standard_normal(7),
        "data2": np.random.standard_normal(7),
    }
)
df

   key1  key2     data1     data2
0     a     1  1.500460 -0.460496
1     a     2 -0.475536  0.996471
2  None     1  1.685067 -0.682818
3     b     2 -1.016159  0.038858
4     b     1 -0.529115 -0.008603
5     a  <NA> -0.706408  1.039522
6  None     1  2.102219 -1.110510

In [2]:
grouped = df["data1"].groupby(df["key1"])
grouped

In [3]:
grouped.mean()

key1
a    0.378920
b   -0.304179
Name: data1, dtype: float64

In [4]:
df["key1"]

0       a
1       a
2    None
3       b
4       b
5       a
6    None
Name: key1, dtype: object

In [5]:
df["key2"]

0    1
1    2
2    1
3    2
4    1
5    2
6    1
Name: key2, dtype: Int64

In [6]:
means = df["data1"].groupby([df["key1"], df["key2"]]).mean()
means

key1  key2
a     1       1.321531
      2      -0.092385
b     1      -0.204387
      2      -0.403970
Name: data1, dtype: float64

In [7]:
means.unstack()

key2         1         2
key1
a     1.321531 -0.092385
b    -0.204387 -0.403970

In [11]:
df.groupby("key1").mean()

      key2     data1     data2
key1
a      1.5  0.106172  0.525165
b      1.5 -0.772637  0.015127

In [13]:
df.groupby("key2").mean(numeric_only=True)

         data1     data2
key2
1     1.189658 -0.565607
2    -0.745847  0.517664

In [14]:
x

              data1     data2
key1 key2
a    1     1.500460 -0.460496
     2    -0.475536  0.996471
b    1    -0.529115 -0.008603
     2    -1.016159  0.038858

In [15]:
df.groupby(["key1", "key2"]).size()

key1  key2
a     1       1
      2       1
b     1       1
      2       1
dtype: int64

In [17]:
df.groupby("key1", dropna=False).size()

key1
a      3
b      2
NaN    2
dtype: int64

In [19]:
for name, group in df.groupby("key1"):
    print(name)
    print(group)

a
  key1  key2     data1     data2
0    a     1  1.500460 -0.460496
1    a     2 -0.475536  0.996471
5    a  <NA> -0.706408  1.039522
b
  key1  key2     data1     data2
3    b     2 -1.016159  0.038858
4    b     1 -0.529115 -0.008603

In [27]:
for (k1, k2), group in df.groupby(["key1", "key2"]):

    print(k1, k2)
    print(group)
    print("--------------------")

a 1
  key1  key2    data1     data2
0    a     1  1.50046 -0.460496
--------------------
a 2
  key1  key2     data1     data2
1    a     2 -0.475536  0.996471
--------------------
b 1
  key1  key2     data1     data2
4    b     1 -0.529115 -0.008603
--------------------
b 2
  key1  key2     data1     data2
3    b     2 -1.016159  0.038858
--------------------