In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
    {
        "key1": ["a", "a", "a","a"],
        "key2": ["b","c","b","c"],
        "v": [10,20,30,40],
        "e": [None,'3',None,'4'],
        "s": ['a','a1','a2','a3',]
    }
)



df

  key1 key2   v     e   s
0    a    b  10  None   a
1    a    c  20     3  a1
2    a    b  30  None  a2
3    a    c  40     4  a3

In [4]:
df["abc"] = range(210000, 210000 + len(df))
df

  key1 key2   v     e   s     abc
0    a    b  10  None   a  210000
1    a    c  20     3  a1  210001
2    a    b  30  None  a2  210002
3    a    c  40     4  a3  210003