In [1]:
import pandas as pd

In [15]:
df = pd.DataFrame(
    {
        "key1": ["a", "a", "a","a"],
        "key2": ["b","c","b","c"],
        "v": [10,20,30,40]
    }
)



df

  key1 key2   v
0    a    b  10
1    a    c  20
2    a    b  30
3    a    c  40

In [16]:
df['v'].groupby([df['key1'],df['key2']]).sum()

key1  key2
a     b       40
      c       60
Name: v, dtype: int64

In [20]:
for (key1, key2), sum_v in df['v'].groupby([df['key1'],df['key2']]).sum().items():
    print(f"key1: {key1}, key2: {key2}, Sum of v: {sum_v}")

key1: a, key2: b, Sum of v: 40
key1: a, key2: c, Sum of v: 60

In [25]:
df.groupby(['key1','key2'])['v'].transform('sum')

0    40
1    60
2    40
3    60
Name: v, dtype: int64

In [27]:
df

  key1 key2   v
0    a    b  10
1    a    c  20
2    a    b  30
3    a    c  40