In [23]:
import pandas as pd

df = pd.DataFrame(
    {
        "key1": ["a", "a", None, "b", "b", "a", None],
        "key2": pd.Series([1, 2, 1, 2, 1, None, 1], dtype="Int64"),
    }
)
print(df)
print("---------------------")
# df[df["key1"] == "a"]
print(df["key1"] == "a")
print("*************")
print(df["key2"] == 1)
print("$$$$$$$$$$$$$$$$$$$$")
print(df[df["key1"] == "a"])
print(df[df["key2"] == 1])
print("%%%%%%%%%%%%%%%%%%%%%%")

   key1  key2
0     a     1
1     a     2
2  None     1
3     b     2
4     b     1
5     a  <NA>
6  None     1
---------------------
0     True
1     True
2    False
3    False
4    False
5     True
6    False
Name: key1, dtype: bool
*************
0     True
1    False
2     True
3    False
4     True
5     <NA>
6     True
Name: key2, dtype: boolean
$$$$$$$$$$$$$$$$$$$$
  key1  key2
0    a     1
1    a     2
5    a  <NA>
   key1  key2
0     a     1
2  None     1
4     b     1
6  None     1
%%%%%%%%%%%%%%%%%%%%%%

In [19]:
df = pd.DataFrame(
    {
        "col_1": (0.0, 0.0, 1.0, 1.0, 0.0, 1.0, 1.0),
        "col_2": (0.0, 0.24, 1.0, 0.0, 0.22, 3.11, 0.0),
        "col_3": ("Mon", "Tue", "Thu", "Fri", "Mon", "Tue", "Thu"),
    }
)
print(df)
print("-------------------")

df_new = df.drop(df[(df["col_1"] == 1.0) or (df["col_2"] == 0.0)].index)
print(df_new)

   col_1  col_2 col_3
0    0.0   0.00   Mon
1    0.0   0.24   Tue
2    1.0   1.00   Thu
3    1.0   0.00   Fri
4    0.0   0.22   Mon
5    1.0   3.11   Tue
6    1.0   0.00   Thu
-------------------

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [34]:
df = pd.DataFrame(
    {
        "id": ["a", "b"],
        "f1": [100, 200],
    }
)
df.set_index("id")

df2 = pd.DataFrame(
    {
        "id": ["a", "c"],
        "f2": [300, 400],
    }
)

df2.set_index("id")


print(df)
print("------------")
print(df2)

  id   f1
0  a  100
1  b  200
------------
  id   f2
0  a  300
1  c  400

In [35]:
df3 = pd.concat([df.set_index("id"), df2.set_index("id")], axis=1, join="outer")
df3

       f1     f2
id
a   100.0  300.0
b   200.0    NaN
c     NaN  400.0