In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
    {
        "key1": ["a", "a", "a","a"],
        "key2": ["b","c","b","c"],
        "v": [10,20,30,40],
        "e": [None,'3',None,'4'],
        "s": ['a','a1','a2','a3',]
    }
)



df

  key1 key2   v     e   s
0    a    b  10  None   a
1    a    c  20     3  a1
2    a    b  30  None  a2
3    a    c  40     4  a3

In [3]:
df.set_index('key2',inplace=True)
df.index

Index(['b', 'c', 'b', 'c'], dtype='object', name='key2')

In [4]:
df

     key1   v     e   s
key2
b       a  10  None   a
c       a  20     3  a1
b       a  30  None  a2
c       a  40     4  a3

In [5]:
df2=df.copy()
df2=df2.reset_index()
df2.set_index(['key1','key2'])

            v     e   s
key1 key2
a    b     10  None   a
     c     20     3  a1
     b     30  None  a2
     c     40     4  a3

In [6]:
a = (
    df.groupby(df.index)
    .agg({"s": lambda x: "|".join(x), "e": lambda x: "|".join(x.dropna().astype(str))})
    .reset_index()
)
a

  key2      s    e
0    b   a|a2
1    c  a1|a3  3|4

In [7]:
df['v'].groupby([df['key1'],df['key2']]).sum()

KeyError: 'key2'

In [ ]:
for (key1, key2), sum_v in df['v'].groupby([df['key1'],df['key2']]).sum().items():
    print(f"key1: {key1}, key2: {key2}, Sum of v: {sum_v}")

In [ ]:
df.groupby(['key1','key2'])['v'].transform('sum')

In [ ]:
df

In [ ]:
df = pd.DataFrame(
    {
        "key1": ["a", "a", "a","a"],
        "key2": ["b","c","b","c"],
        "v": [10,20,30,40]
    }
)
df

In [ ]:
df.set_index(['key1', 'key2'], inplace=True)
df.index

In [ ]:
df.loc[[('a','b')],'v']

In [ ]:
len(df.index)

In [ ]:
df.index

In [ ]:


# 示例数据
df = pd.DataFrame({
    'A': ['x', 'x', 'y', 'y','z'],
    'B': ['foo', 'bar', 'baz', 'qux','hop'],
    'C': [1, 2, 3, 4,5]
})

# 分组聚合
result = df.groupby('A').agg({
    'B': lambda x: ','.join(x),  # 字符串拼接
    'C': 'mean'                  # 求平均值
}).reset_index()

print(result)

In [ ]:
# 示例数据
df1 = pd.DataFrame(
    {"A": ["a1", "a2", "a3"], "B": ["b1", "b2", "b3"], "val1": [10, 20, 30]}
)

df2 = pd.DataFrame({"C": ["a1", "b2", "a3", "b3"], "val2": [100, 200, 300, 400]})

# 1. melt df1，把A、B列堆叠成长格式
df1_melt = df1.melt(
    id_vars=["val1"], value_vars=["A", "B"], var_name="col", value_name="C"
)
df1_melt

In [ ]:
se = pd.Series(['Tom', None,'Jack', 'Tony'])
se



'|'.join(se.dropna())

In [13]:
s = pd.Series(['a1', 'b2', 'c3','a4'])

s.str.extract(r'([ab])?(\d)')

# s.str.extract(r'([ab])(\d)')

     0  1
0    a  1
1    b  2
2  NaN  3
3    a  4