In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
    {
        "key1": ["a", "a", "a","a"],
        "key2": ["b","c","b","c"],
        "v": [10,20,30,40]
    }
)



df

  key1 key2   v
0    a    b  10
1    a    c  20
2    a    b  30
3    a    c  40

In [3]:
df['v'].groupby([df['key1'],df['key2']]).sum()

key1  key2
a     b       40
      c       60
Name: v, dtype: int64

In [4]:
for (key1, key2), sum_v in df['v'].groupby([df['key1'],df['key2']]).sum().items():
    print(f"key1: {key1}, key2: {key2}, Sum of v: {sum_v}")

key1: a, key2: b, Sum of v: 40
key1: a, key2: c, Sum of v: 60

In [5]:
df.groupby(['key1','key2'])['v'].transform('sum')

0    40
1    60
2    40
3    60
Name: v, dtype: int64

In [6]:
df

  key1 key2   v
0    a    b  10
1    a    c  20
2    a    b  30
3    a    c  40

In [11]:
df = pd.DataFrame(
    {
        "key1": ["a", "a", "a","a"],
        "key2": ["b","c","b","c"],
        "v": [10,20,30,40]
    }
)
df

  key1 key2   v
0    a    b  10
1    a    c  20
2    a    b  30
3    a    c  40

In [12]:
df.set_index(['key1', 'key2'], inplace=True)
df.index

MultiIndex([('a', 'b'),
            ('a', 'c'),
            ('a', 'b'),
            ('a', 'c')],
           names=['key1', 'key2'])

In [15]:
df.loc[[('a','b')],'v']

key1  key2
a     b       10
      b       30
Name: v, dtype: int64

In [17]:
len(df.index)

4

In [18]:
df.index

MultiIndex([('a', 'b'),
            ('a', 'c'),
            ('a', 'b'),
            ('a', 'c')],
           names=['key1', 'key2'])